# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: CI_Workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    
jobs:
  build:

    runs-on: ubuntu-latest
    env:
      solutionpath: .\\PlaywrightDemos

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 9.0.x
    - name: Restore dependencies
      run: dotnet restore ${{env.solutionpath}}\\PlayDemo.csproj
    - name: Build
      run: dotnet build ${{env.solutionpath}}\\PlayDemo.csproj --no-restore
    - name: Install missing WebKit deps
      run: npx playwright install-deps webkit
    - name: Install Playwright Browsers
      run: ./PlaywrightDemos/bin/Debug/net9.0/playwright.ps1 install

    - name: Test
      run: |
        dotnet test ${{env.solutionpath}}\\PlayDemo.csproj --no-build --verbosity normal --filter "TestCategory=CICD" \
          --logger "trx;LogFileName=test-results.trx" \
          --logger "nunit;LogFileName=test-results.xml"
          --logger "html;logfilename=test-results.html"
          --logger "console;verbosity=detailed"
    - name: Test Reporter
      uses: dorny/test-reporter@v1.6.0
      with:
        name: test
        reporter: dotnet-trx
        path: '**/*.trx'
      if: ${{ always() }}
    - name: Upload Test Results
      uses: actions/upload-artifact@v4
      if: ${{ always() }}
      with:
        name: test-results
        # Test loggers create TestResults directory in the project directory
        path: |
          **/TestResults/**/*.trx
          **/TestResults/**/*.xml
        retention-days: 90
    - name: Copy Playwright Diag Data
      if: ${{ always() }}
      shell: pwsh
      run: |
        $sourceDirectory = "${{github.workspace}}";
        $destinationDirectory = "${{github.workspace}}/PlaywrightDiag";
        $fileExtensions = @(".webm", ".png", ".jpeg", ".jpg", ".zip");
        mkdir $destinationDirectory;
        
        $files = Get-ChildItem -Path $sourceDirectory -Recurse | Where-Object { $_.Extension -in $fileExtensions };
        foreach ($file in $files) {
            $destinationPath = Join-Path -Path $destinationDirectory -ChildPath $file.Name
            Copy-Item -Path $file.FullName -Destination $destinationPath -Force
        }
    - name: Upload Playwright Diag Data
      uses: actions/upload-artifact@v4
      if: ${{ always() }}
      with:
        # Artifact name
        name: playwright-diagnostics
        path: ${{github.workspace}}/PlaywrightDiag
        # The desired behavior if no files are found using the provided path.
        retention-days: 90
    - name: Upload complete Workspace (Error happend)
      uses: actions/upload-artifact@v4
      if: ${{ failure() }}
      with:
        # Artifact name
        name: ErrorArtifact
        path: ${{github.workspace}}
        # The desired behavior if no files are found using the provided path.
        retention-days: 90
      
